In [1]:
import pandas as pd

In [9]:
data_path = './results/test.csv'
df = pd.read_csv(data_path)
print(df)
df_ml = df.loc[: 120]
df_mind = df.loc[120: 240]
df_steam = df.loc[240: 360]

     index  golden_output  model_output
0        1              1             1
1        2              1             1
2        3              1             1
3        4              1             1
4        5              1             1
..     ...            ...           ...
355    356              2             2
356    357              2             2
357    358              2             2
358    359              2             2
359    360              2             2

[360 rows x 3 columns]

In [10]:
df[df['golden_output'] == df['model_output']]

     index  golden_output  model_output
0        1              1             1
1        2              1             1
2        3              1             1
3        4              1             1
4        5              1             1
..     ...            ...           ...
355    356              2             2
356    357              2             2
357    358              2             2
358    359              2             2
359    360              2             2

[321 rows x 3 columns]

In [11]:
accuracy = df[df['golden_output'] == df['model_output']].shape[0] / df.shape[0]
for dataset in ['ml', 'mind', 'steam']:
    df = eval('df_' + dataset)
    accuracy = df[df['golden_output'] == df['model_output']].shape[0] / df.shape[0]
    print(dataset, accuracy)

ml 0.9338842975206612
mind 0.8429752066115702
steam 0.9

In [7]:
df_index = pd.read_csv('./data/compare_test/all/test_sft_index.csv')
df_index

     index dataset  model1      model2
0        1      ml  LLaMA2    ChatGLM2
1        2      ml  LLaMA2    ChatGLM2
2        3      ml  LLaMA2    ChatGLM2
3        4      ml  LLaMA2    ChatGLM2
4        5      ml  LLaMA2    ChatGLM2
..     ...     ...     ...         ...
595    596   steam    GPT4  LLaMA2-SFT
596    597   steam    GPT4  LLaMA2-SFT
597    598   steam    GPT4  LLaMA2-SFT
598    599   steam    GPT4  LLaMA2-SFT
599    600   steam    GPT4  LLaMA2-SFT

[600 rows x 4 columns]

In [9]:
df_test = pd.read_csv('./results/test_sft.csv')
df_test

     index  golden_output  model_output
0        1            NaN             1
1        2            NaN             1
2        3            NaN             1
3        4            NaN             1
4        5            NaN             1
..     ...            ...           ...
595    596            NaN             2
596    597            NaN             2
597    598            NaN             2
598    599            NaN             2
599    600            NaN             2

[600 rows x 3 columns]

In [10]:
dic = {}
for model in ['LLaMA2', 'ChatGLM2', 'GPT3.5', 'GPT4', 'LLaMA2-SFT']:
    dic.update({model: 0})

In [17]:
df_index[df_index['index'] == 1]['model1'].values[0]

'LLaMA2'

In [18]:
for i in range(df_test.shape[0]):
    idx = df_test.iloc[i]['index']
    model1 = df_index[df_index['index'] == idx]['model1'].values[0]
    model2 = df_index[df_index['index'] == idx]['model2'].values[0]
    if df_test.iloc[i]['model_output'] == 1:
        dic[model1] += 1
    else:
        dic[model2] += 1

In [19]:
dic

{'LLaMA2': 49, 'ChatGLM2': 13, 'GPT3.5': 118, 'GPT4': 182, 'LLaMA2-SFT': 238}